<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapsKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapsKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="CapsKey.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="4"/>
			<maximumFileSize value="2MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
    <userSettings>
        <CapsKey.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="GlobalShortcutKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressCapsKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseShortcutKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </CapsKey.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CapsKey.Properties.Settings>
            <setting name="CapsStateRetryAttempts" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CapsStateCheckDelay_ms" serializeAs="String">
                <value>30</value>
            </setting>
        </CapsKey.Properties.Settings>
    </applicationSettings>
</configuration>